<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Craftian.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Craftian.Properties.Settings>
            <setting name="AutoLoadAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLoadAccount" serializeAs="String">
                <value>False</value>
            </setting>
        </Craftian.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="ClientToken" value="6b9b4bfe-57df-4e51-8534-f18c9eb7e598" />
  </appSettings>
</configuration>